caption {
    padding: 8px;
    color: white;
    text-align: left;
    background-color: #71b6f9 !important;
}


table.dataTable {
    margin-bottom: 15px !important;
}

.hidden{
    display: none;
}

.color-red{
    color:red;
}

.no-padding{
    padding: 0;
}

.input-comment {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    width: 92%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}



.limit-text {
    width: 150ch;
    overflow: hidden;
    text-overflow:ellipsis;
}

.limit-text:hover {
    overflow: visible;
}

.dropdown_list {
    position: absolute;
    z-index: 1;
    background: white;
    width: 96%;
    box-shadow: 0px 2px 5px 1px #f5f5f5;
    /* left: 0; */
    right: 0;
    margin: 0 18px;
}

.dropdown_list li {
    padding: 10px;
    cursor: pointer;
}


@media (min-width: 768px){
    .modal-sm {
        width: 500px;
    }
}